body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Outfit", sans-serif;
}

.board-container {
  padding: 50px 16px;
  max-width: 580px;
  margin: auto;
}

.board-header {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin-bottom: 32px;
}

.board-logo {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.board-title {
  font-size: 40px;
  line-height: 1.1;
  border: none;
}

.board-title:focus {
  outline: none;
}

.board-subtitle {
  font-size: 16px;
  color: #555;
}

.task-card {
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #E3E8EF;
  transition: transform 0.15s ease;
}

.task-card:hover {
  transform: scale(1.05);
}

.task-card-status {
  justify-content: space-between;
  margin-bottom: 18px;
}

.status-in-progress {
  background: #F5D565;
}

.status-completed {
  background: #A0ECB1;
}

.status-will-not-do {
  background: #F7D4D3;
}

.task-left {
  display: flex;
  gap: 16px;
}

.task-icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  flex-shrink: 0;
}

.task-text {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 230px;
}

.task-text h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.task-text p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
}

.task-status-icon, .add-icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.status-in-progress-icon {
  background: #E9A23B;
}

.status-completed-icon {
  background: #32D657;
}

.status-will-not-do-icon {
  background: #DD524C;
}

.task-card-add {
  background: #f5e8d5;
  gap: 16px;
}

.add-icon {
  background: #e9a23b;
}

.task-card h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
